<div>
	<h1>Liste des tâches</h1>

	<div class="alert alert-danger" *ngIf="error">
		Vous devez saisir au minimum 3 caractères.
	</div>

	<div class="row" style="margin-bottom: 10px;">
		<div class="col">
			<input type="text" class="form-control" placeholder="Saisissez le nom de la tâche à ajouter" [(ngModel)]="name">
		</div>
		<div class="col">
			<button class="btn btn-primary" (click)="add()">Ajouter</button>
		</div>
	</div>

	<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Saisissez le nom de la tâche" title="Bar de recherche">

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Status</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let task of tasks">
				<td>{{ task.id }}</td>
				<td>{{ task.getName() }}</td>
				<td>{{ task.status }}</td>
				<td><button onclick="BoutonDes()">Voir</button></td>
			</tr>
		</tbody>
	</table>
	
</div>
